/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

body {
    background-image: url('assets/img/wellington_barracks_body_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter', sans-serif;
}
