<div class="container min-vh-100">

  <div class="row mt-5 mb-5">

    <!-- Book a room -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/bookings/book-room">
          <fa-icon [icon]="faUtensils" size="3x"></fa-icon>
          <h3 class="card-title mt-4">Book a room</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">Reserve a room in the mess</h6>
        </div>
      </div>
  
    </div>

    <!-- Book a meal -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/bookings/book-meal">
          <fa-icon [icon]="faBed" size="3x"></fa-icon>
          <h3 class="card-title mt-4">Book a meal</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">Book a meal in the mess</h6>
        </div>
      </div>
    </div>

    <!-- My bookings -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/bookings">
          <fa-icon [icon]="faList" size="3x"></fa-icon>
          <h3 class="card-title mt-4">My bookings</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">View and edit your bookings</h6>
        </div>
      </div>
    </div>

    <!-- Add a new user -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/users/register">
          <fa-icon [icon]="faUser" size="3x"></fa-icon>
          <h3 class="card-title mt-4">Add a new user</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">Add a new user</h6>
        </div>
      </div>
    </div>

    <!-- Vieww all users -->
    <div class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body text-center mt-4" routerLink="/users">
          <fa-icon [icon]="faUsers" size="3x"></fa-icon>
          <h3 class="card-title mt-4">View all users</h3>
          <h6 class="card-subtitle mt-3 mb-2 text-body-secondary">View, edit and delete users</h6>
        </div>
      </div>
    </div>

  </div>

</div>